:root {
    --h1-font-size: 3rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1rem;
    --h5-font-size: 0.875rem;
    --h6-font-size: 0.85rem;
}
html {
    font: 17px / 1.65 system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.theme-doc-yaml {
    --h1-vertical-rhythm-top: 3;
    --h2-vertical-rhythm-top: 2;
    --h3-vertical-rhythm-top: 1.5;
    --heading-vertical-rhythm-top: 1.25;
    --h1-vertical-rhythm-bottom: 1.25;
    --heading-vertical-rhythm-bottom: 1;
    --leading-desktop: 1.25;
    --leading: calc(var(--leading-desktop)* 1rem);
    max-width: 75%;
    padding-right: 1rem;
}
.doc_cntnr {
    width: 100%;
    max-width: 1140px;
    padding: 1rem !important;
    margin: 0 auto;
}
@media (min-width: 1440px) {
    .doc_cntnr {
        max-width: 1320px !important;
    }
}
.doc_cntnr > article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.theme-doc-yaml h1:first-child {
    --h1-font-size: 3rem !important;
    margin-bottom: calc(var(--h1-vertical-rhythm-bottom)*var(--leading));
}
.theme-doc-yaml h3 {
    --h3-font-size: 1.25rem !important;
}
.theme-doc-yaml > h1,
.theme-doc-yaml > h2,
.theme-doc-yaml > h3,
.theme-doc-yaml > h4,
.theme-doc-yaml > h5,
.theme-doc-yaml > h6 {
    scroll-margin-top: 4.25rem;
}
h1, h2, h3, h4, h5, h6
h1 {
    color: #1c1e21;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: bold;
    line-height: 1.25;
    margin: 0 0 1rem 0;
}
h1 {
    font-size: var(--h1-font-size);
}
h2 {
    font-size: var(--h2-font-size);
}
h3 {
    font-size: var(--h3-font-size);
}
header > h1 {
    margin-top: 0;
}
img {
    max-width: 100%;
}
.theme-doc-yaml > p {
    margin-bottom: var(--leading);
}
.codeBlockContent {
    background-color: rgb(41, 45, 62);
    padding: 1rem;
    border-radius: .5rem;
    position: relative;
    margin-bottom: var(--leading);
}
.codeBlockContent > .copyButton {
    background: rgba(0, 0, 0, .3);
    color: #ffffff;
    opacity: 0;
    padding: .4rem .5rem;
    position: absolute;
    right: .5rem;
    top: .5rem;
    transition: opacity .2s ease-in-out;
    user-select: none;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
}
.codeBlockContent:hover > .copyButton {
    opacity: 1;
}
pre {
    color: rgb(191, 199, 213);
    margin-bottom: var(--leading);
    white-space: pre-line;
    line-height: 1.4;
    margin: 0;
    font-size: .95rem;
}
code {
    background-color: #f6f7f8;
    border-radius: .4rem;
    border: .1rem solid rgba(0,0,0,.1);
    font-size: 90%;
    font-family: lar,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    padding: .1rem .2rem;
}
pre code {
    line-height: inherit;
    border: none;
    background-color: transparent;
    padding: 0;
}
@media (pointer: fine) {
    .thin-scrollbar {
        scrollbar-width: thin;
    }
}
blockquote {
    color: #444950;
    border-left: 2px solid #dadde1;
    padding: 0 1rem;
    margin: 0 0 1rem;
}
blockquote > p {
    margin: 0;
}
a.link {
    color: #007fef;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
a.link:hover {
    text-decoration: underline;
}
a.hash-link {
    opacity: 0;
    color: #007fef;
    /* padding-left: .5rem; */
    transition: opacity .2s;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-weight: bold;
}
a.hash-link::before {
    content: '#';
    vertical-align: middle;
}
.anchor:hover > a.hash-link {
    opacity: 1;
}
a.hash-link:hover {
    text-decoration: underline;
}
h2.anchor > a.hash-link::before {
    position: relative;
    bottom: .25rem;
}
strong {
    font-weight: 700;
}
/* ---- */
.scrollspy_wrpr {
    flex: 0 0 25%;
    max-width: 25%;
    display: flex;
    padding: 0 1rem;
}
.table-of-content_wrpr {
    overflow-y: auto;
    position: -webkit-sticky;
    position: sticky;
    top: calc(3.75rem + 1rem);
    font-size: .8rem;
}
.table-of-content_wrpr ul {
    border-left: 1px solid #dadde1;
    list-style: none;
    padding: .5rem 0;
    padding-left: .5rem;
    margin: 0;
}
.table-of-content_wrpr > ul
> li > ul {
    border-left: 0;
    padding: 0;
}
.table-of-content_wrpr li {
    margin: .5rem;
}
.tble-of-cntnt-itm__lnk {
    color: #525860;
    transition: color .2s ease;
}
.tble-of-cntnt-itm__lnk.act {
    color: #007fef;
}
.tble-of-cntnt-itm__lnk:hover {
    color: #007fef;
}
.pagination-nav_wrpr {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}
.pgntn-itm_cntnr {
    display: flex;
    flex: 1 50%;
    max-width: 50%;
}
.pgntn-itm_cntnr:last-child {
    margin-left: 1rem;
    text-align: right;
}
.pgntn-lnk {
    flex-grow: 1;
    padding: 1rem;
    border: 1px solid #dadde1;
    border-radius: .5rem;
    line-height: 1.25;
    transition: border-color .2s ease;
}
.pgntn-sublbl {
    color: #525860;
    font-size: .875rem;
    font-weight: 500;
    margin-bottom: .25rem;
}
.pgntn-lbl {
    color: #007fef;
    font-size: 1rem;
    font-weight: 700;
    word-break: break-word;
}
.pgntn-itm_cntnr:first-child
.pgntn-lbl::before {
    content: '« ';
}
.pgntn-itm_cntnr:last-child
.pgntn-lbl::after {
    content: ' »';
}
